.banner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.banner {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.square-button {
  padding: 10px 20px;
  margin-left: 0.5%;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #703e3b;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.square-button:hover {
  background-color: #b18563;
}


@media (max-width: 768px) {
  .banner {
    width: 80%; 
  }

  .square-button {
    padding: 8px 16px; 
    margin-left: 0; 
  }
}
