.banner-container {
    width: 100%;
    margin-bottom: 1%;
/*color ff34d4*/
}
  .banner {
    width: 100%; 
  }

  .footer-buttons {
    margin-top: 20px;
    text-align: right; 
  }
  
  .square-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #703e3b;
    color: #fff;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .square-button:hover {
    background-color: #777;
  }
  
  .square-button:focus {
    outline: none;
  }