h1 {
    margin-bottom: 20px; 
    font-size: 24px; 
    text-align: center; 
  }
  
  ul {
    list-style-type: none; 
    padding: 0;
  }
  
  li {
    margin-bottom: 10px; 
    font-size: 18px; 
  }
  

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 150px; 
    height: auto;
    margin-right: 10px; 
  }